.App {
  background-color: burlywood;
  height: max-content;
}

.card{ display: flex; 
  margin: 15px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.NavBar{
  color:aliceblue
}

/* .link{
  margin-left: 500px;
} */